<div id="parent">
	<h3>
		This project tracks grain shipments through the UN Black Sea Grain
		Initiative. The resumption of grain exports is crucial for the world's food
		security. While the war continues to rage in other parts of the country this
		program offers economic support to Ukraine.
	</h3>
	<p></p>
	<div>
		<h6>Sources</h6>
		<ul>
			<li>
				<a
					href="https://docs.google.com/spreadsheets/d/1mOTIcPMyHANSidq4pcVHrk_TeoWb_KogP3CQTEQA0Gg/edit#gid=0"
					target="_blank"
				>
					Ukraine Grain Corridor Spreadsheet
				</a>
			</li>
			<li>
				<a
					href="https://www.un.org/en/black-sea-grain-initiative/vessel-movements"
					target="_blank"
				>
					UN Black Sea Grain Initiative
				</a>
			</li>
			<li>
				<a
					href="https://docs.google.com/spreadsheets/d/1mOTIcPMyHANSidq4pcVHrk_TeoWb_KogP3CQTEQA0Gg"
					target="_blank"
				>
					Ukraine Grain Corridor Spreadsheet
				</a>
			</li>
			<li>
				<a href="https://www.marinetraffic.com/" target="_blank">
					Marine Traffic
				</a>
			</li>
			<li>
				<a href="https://www.vesselfinder.com/" target="_blank">
					Vessel Finder
				</a>
			</li>
			<li>
				<a
					href="https://turkiye.un.org/en/press-centre/press-releases"
					target="_blank"
				>
					UN Turkey press releases
				</a>
			</li>
			<li>
				<a href="https://twitter.com/SUNSEEDMAN" target="_blank">
					@SUNSEEDMAN
				</a>
			</li>
			<li>
				<a href="https://twitter.com/ElenaNeroba" target="_blank">
					@ElenaNeroba
				</a>
			</li>
			<li>
				<a
					href="https://docs.google.com/spreadsheets/d/1yOIqIc1hwK0-KxIIC9b7UYv8O8jmpanT5rfzaADjT4g"
					target="_blank"
				>
					@VladImpaler19
				</a>
			</li>
		</ul>
	</div>
	<div>
		<p></p>
		<h5>
			The code for this website is hosted on
			<a href="https://github.com/RobinB6/black-sea-grain-tracking">GitHub</a>
			and published on <a href="https://vercel.com/">Vercel</a>.
		</h5>
	</div>
</div>
